<div data-region="main">
    <p style="margin-bottom: 0; margin-top: 1em">Выберите интересующий курс</p>
    <select id="allcourses">
        {{#courses}}
            <option value="{{id}}">{{fullname}}</option>
        {{/courses}}
    </select>

    <p style="margin-bottom: 0; margin-top: 1em">Выберите интересующее задание</p>
    <select id="modules">
        {{#modules}}
            <option value="{{cm}}">{{name}}</option>
        {{/modules}}
    </select>

    <p style="margin-bottom: 0; margin-top: 1em">Выберите студента для оценки</p>
    <select id="students">
        {{#students}}
            <option value="{{id}}">{{lastname}} {{firstname}}</option>
        {{/students}}
    </select>

    <p style="margin-bottom: 0; margin-top: 1em" id="currentmark">Текущая оценка: {{grade}} / {{grademax}}</p>

    <p style="margin-bottom: 0; margin-top: 0" id="minmax">Оценка (min - {{grademin}}, max - {{grademax}}). Дробная часть отделяется точкой.</p>
    <input id="grade" placeholder="Введите оценку"/>
    <button id="setmark">Сохранить оценку</button>

    <div id="assignparams" style="display: none">
        <input id="assignid" value="{{assignid}}"/>
        <input id="attemptnumber" value="{{attemptnumber}}"/>
        <input id="grademin" value="{{grademin}}"/>
        <input id="grademax" value="{{grademax}}"/>
    </div>
</div>
{{#js}}
require(['block_grading/get_course_info', 'block_grading/set_mark'], function(getInfo, setMark){
    getInfo.get_modules();
    getInfo.get_module_info();
    getInfo.get_user_info();
    setMark.set_mark();
});
{{/js}}

